@import "@/shared/vars";

.TelegramChannelStatsSubscribersAttractionPopup {
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  background: var(--white-color);
  padding: 15px;
  top: 5%;
  position: relative;
  width: 55vw;
  left: 25%;

  @media (max-width: $tablet-mediaquery-width) {
    width: 70vw;
    left: 15%;
  }

  @media (max-width: $mobile-mediaquery-width) {
    width: 95vw;
    left: 2.5%;
    top: 30%;
  }

  &__icons {
    align-self: flex-end;
    position: relative;
    z-index: var(--z-index-one);

    @media (max-width: $mobile-mediaquery-width) {
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__more {
    left: -900%;
    top: 35px;
    padding: 15px;
    gap: 10px;
    height: 75px;

    @media (max-width: $mobile-mediaquery-width) {
      left: -1700%;
      top: 25px;
      height: 65px;
    }

    &__icon {
      max-width: 15px;
      max-height: 15px;
      min-width: 15px;
      min-height: 15px;

      @media (max-width: $mobile-mediaquery-width) {
        max-width: 10px;
        max-height: 10px;
        min-width: 10px;
        min-height: 10px;
      }

      &Trigger {
        max-width: 20px;
        max-height: 20px;
        min-width: 20px;
        min-height: 20px;

        @media (max-width: $mobile-mediaquery-width) {
          max-width: 10px;
          max-height: 10px;
          min-width: 10px;
          min-height: 10px;
        }
      }
    }

    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--black-color);
      white-space: nowrap;

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 12px;
      }
    }

    &__link {
      text-decoration: underline;
      transition: var(--transition-duration) linear color;

      &:hover {
        color: var(--main-color);
      }
    }
  }

  &__channel {
    position: relative;
    top: -20px;
    width: 100%;

    &__wrapper {
      @media (max-width: $tablet-mediaquery-width) and (min-width: $mobile-mediaquery-width) {
        flex-direction: column;
        gap: 10px;
      }
    }

    &__img {
      width: 55px;
      height: 55px;
      object-position: center center;
      object-fit: cover;
      border-radius: 100%;

      @media (max-width: $mobile-mediaquery-width) {
        width: 25px;
        height: 25px;
      }
    }

    &__name {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: -0.01em;
      color: var(--black-color);

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 10px;
        white-space: nowrap;
      }
    }

    &__category {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: var(--black-color);
      opacity: 0.4;

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 8px;
        white-space: nowrap;
      }
    }

    &__link {
      height: 54px;
      font-size: 20px;
      font-weight: 600;
      border-radius: 13px;
      width: 50%;

      @media (max-width: $tablet-mediaquery-width) {
        width: 100%;
      }

      @media (max-width: $mobile-mediaquery-width) {
        height: 19px;
        border-radius: 5px;
        font-size: 8px;
        padding: 5px !important;
        width: 60%;
        margin-left: 10px;
      }
    }

    &__postImg {
      height: 358px;
      width: 100%;
      object-position: center center;
      object-fit: cover;
      border: 1px solid var(--secondary-color);
      border-radius: 20px;

      @media (max-width: $mobile-mediaquery-width) {
        border: 0.37px solid var(--secondary-color);
        border-radius: 7px;
        height: 132px;
      }
    }

    &__postDesc {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.01em;
      color: var(--black-color);
      padding: 20px 10px;
      overflow-y: auto;
      max-height: 250px;

      @media (max-width: $tablet-mediaquery-width) {
        font-size: 14px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 10px;
        padding: 10px 5px;
      }

      &__link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        transition: var(--transition-duration) linear color;

        &:hover {
          color: var(--main-color);
        }
      }
    }

    &__stats {
      padding: 0 10px;
    }

    &__stat {
      border: 1px solid var(--violet-color);
      border-radius: 15px;
      width: 92px;
      height: 38px;
      background: linear-gradient(
        271deg,
        rgba(59, 130, 246, 0.1) 0%,
        rgba(59, 130, 246, 0) 100%
      );

      @media (max-width: $mobile-mediaquery-width) {
        width: 40px;
        height: 14px;
        border: 0.5px solid var(--violet-color);
        border-radius: 5px;
      }

      &__icon {
        width: 15px;
        height: 15px;

        @media (max-width: $mobile-mediaquery-width) {
          width: 9px;
          height: 6px;
        }
      }

      &__text {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: var(--black-color);

        @media (max-width: $mobile-mediaquery-width) {
          font-size: 8px;
        }
      }
    }
  }
}
