@import "@/shared/vars";

.checkoutOrderAmountCounter {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  transition: var(--transition-duration) linear all;

  &__disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: relative;
    background-color: transparent;
    margin-bottom: 3px;
    cursor: pointer;

    @media (max-width: $mobile-mediaquery-width) {
      width: 20px;
      height: 20px;
      padding: 0;
    }

    * {
      transition: var(--transition-duration) linear all;
    }

    &::after {
      width: 15px;
      height: 15px;
      display: flex;
      color: var(--main-color);
      position: absolute;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      transition: var(--transition-duration) linear all;

      @media (max-width: $mobile-mediaquery-width) {
        width: 7px;
        height: 7px;
        font-size: 12px;
      }
    }

    &:hover:not(.checkoutOrder__packsAmount__button__disabled) {
      circle {
        stroke: var(--white-color);
      }

      &::after {
        color: var(--white-color);
      }

      svg {
        fill: var(--main-color);
      }
    }

    &__disabled {
      opacity: 0.4;
      cursor: default;
    }
  }

  &__increase::after {
    content: "+";
  }

  &__dicrease::after {
    content: "-";
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 16px;
    }
  }
}
