.BlogOpenPostComments {
  margin-top: 30px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000;

  &__sorting {
    &_text {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #999;
      position: relative;
      top: 1px;
    }
  }

  &__userTitle {
    font-weight: 600;
    font-size: 16px;
  }

  &__userCategory {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray-color);
  }

  &__textarea {
    background: #fff;
    padding: 20px;
    padding-right: 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    width: 100%;
    height: 100%;
    border: none;
    border: 1px solid #eaf2ff;
    border-radius: 25px;

    &::placeholder {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--gray-color);
    }

    &Wrapper {
      height: 197px;
      width: 100%;
      position: relative;
    }
  }

  &__attach {
    position: absolute;
    right: 55px;
    top: 22px;
  }

  &__emoji {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

    &Picker {
      opacity: 0;
      transition: 0.3s linear opacity !important;
      position: absolute !important;
      top: -440px;
      right: 0;
      z-index: var(--z-index-hidden);

      &__open {
        opacity: 1;
        z-index: var(--z-index-zero);
      }
    }
  }
}
