.ItemsSlider__slider .swiper-button-disabled {
  opacity: 0.4;
}

.ItemsSlider__slider .swiper {
  padding: 10px;
}

.ItemsSlider__slider .swiper-wrapper {
  display: flex;
}

.ItemsSlider__slider .swiper-slide {
  display: flex;
  align-items: center;
}
