.KindDeedsChangeLives {
  * {
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__caption__bg::after {
    right: 0;
  }

  &__text {
    font-weight: 500;
    font-size: 32px;
  }

  &__button {
    width: 35%;
    height: 66px;
    border-radius: 17px;
    font-size: 21px;
  }

  &__img {
    position: relative;
    right: 0;
  }
}
