.userSavedBankCards {
  display: flex;
  flex-direction: column;
  padding: 15px 35px;
  padding-bottom: 5px;

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  &__item {
    display: flex;
    border-top: 1px solid var(--secondary-color);
    padding: 5px 0;
    position: relative;
    align-items: center;

    &__radio {
      position: absolute;
      left: -2px;
      top: -20px;
      opacity: 0;
      z-index: var(--z-index-one);
      cursor: pointer;

      &Wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 10px;
      }

      &:checked + label::after {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        position: absolute;
        left: 4px;
        bottom: 5px;
        background-color: var(--main-color);
        border-radius: 100%;
        border: 1px var(--main-color) solid;
      }
    }

    &__label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 0;
      line-height: 18px;
      user-select: none;
      z-index: var(--z-index-zero);

      &::before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 18px;
        position: absolute;
        left: 0;
        bottom: 1px;
        border: 1px var(--main-color) solid;
        border-radius: 100%;
      }

      &:hover::before {
        filter: brightness(120%);
      }
    }

    &__img {
      width: 57px;
      height: 57px;
      object-fit: cover;
      object-position: center center;
      margin-right: 10px;
      margin-left: 3px;
    }
  }
}
