.NotFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  &__img {
    width: 40%;
    object-fit: cover;
    object-position: center center;
  }

  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    text-align: center;
    position: relative;
    bottom: 50px;
  }
}
