.checkoutOrder {
  height: 100%;
  width: 27.5%;
  position: relative;
  left: 55%;
  background: #fff;
  border-radius: 25px 0 0 25px;
  padding: 25px;

  &__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 10px;
  }

  &__separator {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eaf2ff;
    margin: 15px 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__caption {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__packPrice {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main-color);
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-top: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__packsAmount {
    display: flex;
    align-items: flex-end;
    gap: 5px;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      position: relative;
      background-color: transparent;
      margin-bottom: 3px;
      cursor: pointer;

      * {
        transition: var(--transition-duration) linear all;
      }

      &::after {
        width: 15px;
        height: 15px;
        display: flex;
        color: var(--main-color);
        position: absolute;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        transition: var(--transition-duration) linear all;
      }

      &:hover:not(.checkoutOrder__packsAmount__button__disabled) {
        circle {
          stroke: #fff;
        }

        &::after {
          color: #fff;
        }

        svg {
          fill: var(--main-color);
        }
      }

      &__disabled {
        opacity: 0.4;
        cursor: default;
      }
    }

    &__increase::after {
      content: "+";
    }

    &__dicrease::after {
      content: "-";
    }

    &__text {
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #000;
    }
  }

  &__extraServices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  &__extraService {
    border: 1px solid #eaf2ff;
    border-radius: 15px;
    width: 100%;
    padding: 10px 20px;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 80%;
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #000;
    }

    &__desc {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #000;
    }

    &__select {
      border: 1px solid #f55;
      border-radius: 5px;
      min-width: 25px;
      max-height: 25px;
      transition: var(--transition-duration) linear all;
      cursor: pointer;

      &__active {
        background: #f55;
      }
    }
  }
}
