.checkoutOrder {
  height: 100%;
  width: 27.5%;
  position: relative;
  left: 55%;
  background: #fff;
  border-radius: 25px 0 0 25px;
  padding: 25px;
  overflow-y: scroll;

  &__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 10px;
  }

  &__separator {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eaf2ff;
    margin: 15px 0;

    &_big {
      height: 3px;
      margin: 25px 0;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__caption {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main-color);
  }

  &__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-top: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__extraServices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  &__descSpan {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__extraService {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #eaf2ff;
    border-radius: 15px;
    width: 100%;
    padding: 10px 20px;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 80%;
    }

    &__select {
      border: 1px solid #f55;
      border-radius: 5px;
      min-width: 25px;
      max-height: 25px;
      transition: var(--transition-duration) linear all;
      cursor: pointer;

      &__active {
        background: #f55;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #eaf2ff;
      padding-top: 5px;
    }
  }

  &__result {
    border: 1px solid #eaf2ff;
    border-radius: 15px;
    background: linear-gradient(
      271deg,
      rgba(59, 130, 246, 0.1) 0%,
      rgba(59, 130, 246, 0) 100%
    );
    padding: 15px;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &Wrapper {
      display: flex;
      justify-content: space-between;
    }

    &Items {
      display: flex;
      flex-direction: column;
      gap: 3px;
      transition: var(--transition-duration) linear all;
      max-height: 0;
      overflow-y: hidden;

      &__open {
        cursor: pointer;
        transition: var(--transition-duration) linear all;

        &__disactive {
          transform: rotate(180deg);
        }
      }

      &__active {
        max-height: 100px;
      }
    }

    &Item {
      display: flex;
      align-items: center;
      gap: 5px;

      &_span {
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #000;
      }
    }
  }

  &__continue {
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
    height: 67px;
  }
}
