.weAreTrusted {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__img {
    width: 252px;
    height: 252px;
  }

  &__caption {
    width: 64%;
  }

  &__items {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 189px;
    box-shadow: 0 4px 30px 0 rgba(109, 132, 255, 0.25);
    background: #f4f7ff;
    width: 100%;
  }

  &__item {
    width: 180px;
    height: 62px;
    mix-blend-mode: darken;
    object-fit: cover;
  }
}
