.createOrderTechnicalInformationContent {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
  position: relative;
  top: 0;

  &__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 66% 33%;
    gap: 20px;
  }

  &__secondCol {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
