@import "@/shared/vars";

.showFullImage {
  border-radius: 10px;
  height: 42px;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  transition: var(--transition-duration) linear all;
  box-shadow: 0 0 100px transparent;

  @media (max-width: $mobile-mediaquery-width) {
    height: 21px;
    gap: 5px;
    border-radius: 5px;
  }

  &__full {
    padding: 0 25px;

    @media (max-width: $mobile-mediaquery-width) {
      padding: 0 10px;
    }
  }

  &__svg {
    @media (max-width: $mobile-mediaquery-width) {
      width: 14px;
      height: 14px;
    }
  }

  &__short {
    padding-left: 10px;
    padding-right: 9px;

    @media (max-width: $mobile-mediaquery-width) {
      padding-left: 5px;
      padding-right: 4px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--white-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &:hover {
    box-shadow: 0 0 10px var(--main-color);
  }

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    width: calc(100vw - 30vw);
    height: calc(100vh - 10vh);
    justify-content: center;

    @media (max-width: $laptop-mediaquery-width) {
      width: calc(100vw - 3vw);
    }

    @media (max-width: $tablet-mediaquery-width) {
      height: calc(100vh - 40vh);
    }
  }

  &__circle {
    min-width: 56px;
    min-height: 56px;
    max-width: 56px;
    max-height: 56px;
    border-radius: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
    box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: var(--transition-duration) linear all;

    @media (max-width: $mobile-mediaquery-width) {
      position: absolute;
      z-index: var(--z-index-arrows);
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;

      svg {
        width: 8px;
        height: 8px;
      }
    }

    * {
      transition: var(--transition-duration) linear all;
    }

    &:not(.showFullImage__slider__arrow__disabled):hover {
      box-shadow: 0 0 30px 0 rgba(255, 255, 255, 1);
      background-color: var(--main-color);
      border: none;

      * {
        fill: var(--white-color);
      }
    }
  }

  &__slider {
    display: flex;
    gap: 10px;
    width: 100%;

    @media (max-width: $mobile-mediaquery-width) {
      position: relative;
    }

    &__PrevArrow {
      align-self: center;
    }

    &__NextArrow {
      @media (max-width: $mobile-mediaquery-width) {
        position: relative;
        top: 25vh;
      }
    }

    &__close {
      @media (max-width: $mobile-mediaquery-width) {
        position: relative;
        top: -3vh;
      }
    }

    &__arrow__disabled {
      opacity: 0.4;
    }
  }

  &__swiper {
    background: var(--white-color);
    border-radius: 25px;
    height: 100%;
    width: 100%;
    padding: 10px !important;

    @media (max-width: $mobile-mediaquery-width) {
      padding: 15px !important;
    }

    &__slide {
      border-radius: 25px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__column {
    display: grid;
    grid-template-rows: 48% 50%;

    @media (max-width: $mobile-mediaquery-width) {
      position: absolute;
      right: 0;
    }
  }
}
