.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s linear all;
  border: 1px solid transparent;
  width: 100px;
  white-space: nowrap;
  box-shadow: 0 0 15px transparent;

  &__red {
    color: #fff;
    background: #f55;

    &:hover:not(.catalog__category__canSelected) {
      color: #f55;
      box-shadow: 0 0 15px #f55;
      background: #fff;
      border: 1px solid #f55;
    }
  }

  &__red.catalog__category__selected {
    color: #f55;
    box-shadow: 0 0 15px #f55;
    background: #fff;
    border: 1px solid #f55;
  }

  &__blue {
    color: #fff;
    background: #4266c6;

    &:hover:not(.catalog__category__canSelected) {
      background: #fff;
      color: #4266c6;
      border: 1px solid #4266c6;
      box-shadow: 0 0 15px #4266c6;
    }
  }

  &__blue.catalog__category__selected {
    background: #fff;
    color: #4266c6;
    border: 1px solid #4266c6;
    box-shadow: 0 0 15px #4266c6;
  }

  &__white {
    border: 1px solid #000;
    color: gray;
    background: #fff;
    font-weight: 100;

    &:hover:not(.catalog__category__canSelected) {
      background: gray;
      color: #fff;
      border: 1px solid #fff;
      box-shadow: 0 0 15px gray;
    }
  }

  &__white.catalog__category__selected {
    background: gray;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 15px gray;
  }

  &__gray {
    color: #fff;
    background: #9fabb6;

    &:hover:not(.catalog__category__canSelected) {
      background: #fff;
      color: #9fabb6;
      border: 1px solid #9fabb6;
      box-shadow: 0 0 15px #9fabb6;
    }
  }

  &__gray.catalog__category__selected {
    background: #fff;
    color: #9fabb6;
    border: 1px solid #9fabb6;
    box-shadow: 0 0 15px #9fabb6;
  }

  &__black {
    color: #000;
    background: transparent;
    border: 1px solid #000;

    &:hover:not(.catalog__category__canSelected) {
      background: #000;
      color: #fff;
      border: 1px solid #fff;
      box-shadow: 0 0 15px #fff;
    }
  }

  &__black.catalog__category__selected {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 15px #fff;
  }
}
