.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  padding: 20px;
  cursor: pointer;
  transition: var(--transition-duration) linear all;
  border: 1px solid transparent;
  white-space: nowrap;
  box-shadow: 0 0 15px transparent;
  width: 100%;

  &__red {
    color: #fff;
    background: var(--main-color);

    &:hover:not(.catalog__category__canSelected) {
      color: var(--main-color);
      box-shadow: 0 0 15px var(--main-color);
      background: #fff;
      border: 1px solid var(--main-color);
    }
  }

  &__red.catalog__category__selected {
    color: var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    background: #fff;
    border: 1px solid var(--main-color);
  }

  &__blue {
    color: #fff;
    background: #4266c6;

    &:hover:not(.catalog__category__canSelected) {
      background: #fff;
      color: #4266c6;
      border: 1px solid #4266c6;
      box-shadow: 0 0 15px #4266c6;
    }
  }

  &__blue.catalog__category__selected {
    background: #fff;
    color: #4266c6;
    border: 1px solid #4266c6;
    box-shadow: 0 0 15px #4266c6;
  }

  &__white {
    border: 1px solid #000;
    color: gray;
    background: #fff;
    font-weight: 100;

    &:hover:not(.catalog__category__canSelected) {
      background: gray;
      color: #fff;
      border: 1px solid #fff;
      box-shadow: 0 0 15px gray;
    }
  }

  &__white.catalog__category__selected {
    background: gray;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 15px gray;
  }

  &__gray {
    color: #fff;
    background: #9fabb6;

    &:hover:not(.catalog__category__canSelected) {
      background: #fff;
      color: #9fabb6;
      border: 1px solid #9fabb6;
      box-shadow: 0 0 15px #9fabb6;
    }
  }

  &__gray.catalog__category__selected {
    background: #fff;
    color: #9fabb6;
    border: 1px solid #9fabb6;
    box-shadow: 0 0 15px #9fabb6;
  }

  &__black {
    color: #000;
    background: transparent;
    border: 1px solid #000;

    &:hover:not(.catalog__category__canSelected) {
      background: #000;
      color: #fff;
      border: 1px solid #fff;
      box-shadow: 0 0 15px #000;
    }
  }

  &__black.catalog__category__selected {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 15px #fff;
  }

  &__cyan {
    border-radius: 40px;
    background: linear-gradient(
      271deg,
      rgba(59, 130, 246, 0.1) 0%,
      rgba(59, 130, 246, 0) 100%
    );
    font-weight: 400;
    font-size: 18px;
    color: #141414;
    border: 1px solid transparent;

    &:hover:not(.catalog__category__canSelected) {
      color: var(--main-color);
      background: #fff;
      border: 1px solid var(--main-color);
      box-shadow: 0 0 15px var(--main-color);
    }
  }

  &__cyan.catalog__category__selected {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 15px #fff;
  }
}

.Button_a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
