@font-face {
    font-family: "Protest Riot";
    src: url('../../shared/fonts/ProtestRiot-Regular.woff2') format('woff2');
    font-display: swap;
}

:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Open Sans", sans-serif;
}

body {
    background: url(body_background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: #fff;
}

.hidden {
    display: none;
}