@import "@/shared/vars";

.BlogPostComment {
  margin: 15px 0;

  @media (max-width: $mobile-mediaquery-width) {
    margin: 5px 0;
  }

  * {
    line-height: 120%;
    letter-spacing: -0.01em;
  }

  &__answer {
    padding-left: 40px;

    @media (max-width: $mobile-mediaquery-width) {
      padding-left: 20px;
    }
  }

  &__authorName {
    font-weight: 600;
    font-size: 20px;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__createdDate {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__text {
    white-space: pre-line;
    font-weight: 500;
    font-size: 14px;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
      margin-bottom: 3px;
    }
  }

  &__block {
    margin-left: 7%;
  }

  &__answerButton {
    font-weight: 500;
    font-size: 16px;
    color: var(--main-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__amount {
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 10px;
    }

    &__icon {
      path {
        transition: var(--transition-duration) linear;
        transition-property: fill, opacity, stroke;
      }

      @media (max-width: $mobile-mediaquery-width) {
        svg {
          width: 11px;
          height: 11px;
        }
      }

      &__active {
        path {
          fill: var(--black-color);
          opacity: 1;
          stroke: var(--white-color);
        }
      }
    }
  }

  &__dislike {
    position: relative;
    top: 3px;

    @media (max-width: $mobile-mediaquery-width) {
      top: 0;
    }
  }
}
