.Favourite {
  cursor: pointer;
  transition: var(--transition-duration) all linear;

  path {
    transition: var(--transition-duration) all linear;
  }

  &__selected path {
    fill: var(--white-color);
  }
}
