@import "@/shared/vars";

.BlogCreatePage {
  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    overflow-y: hidden;

    @media (max-width: $tablet-small-mediaquery-width) {
      margin-top: 60px !important;
    }
  }
}
