@import "@/shared/vars";

.AuthorStats {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;

  &__separator {
    width: 100%;
    background-color: var(--secondary-color);
    height: 1px;
  }
}

.AuthorStat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  @media (max-width: $mobile-mediaquery-width) {
    padding: 5px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    opacity: 0.4;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 11px;
    }
  }

  &__reputation {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  &__star {
    width: 19px;
    height: 19px;

    @media (max-width: $mobile-mediaquery-width) {
      width: 9px;
      height: 9px;
    }
  }

  &__value {
    font-weight: 800;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__reviews {
    display: flex;
    gap: 10px;
    align-items: center;

    @media (max-width: $mobile-mediaquery-width) {
      gap: 5px;
    }
  }

  &__review {
    display: flex;
    gap: 1px;
    align-items: center;

    svg {
      position: relative;
      top: 1px;

      @media (max-width: $mobile-mediaquery-width) {
        width: 8px;
        height: 8px;
        top: 0;
      }
    }
  }
}
