.TelegramChannelStatsCategories {
  width: 30%;
  height: 100%;
  border-right: 3px solid var(--secondary-color);
  padding: 20px 0;

  &__category {
    cursor: pointer;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid var(--secondary-color);
    padding-left: 20px;

    &__text {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: -0.01em;
      color: var(--black-color);
      opacity: 0.4;
      transition: var(--transition-duration) linear opacity;
    }

    &__icon {
      opacity: 0.4;
      transition: var(--transition-duration) linear opacity;

      svg {
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
      }
    }

    &__active {
      .TelegramChannelStatsCategories__category__icon,
      .TelegramChannelStatsCategories__category__text {
        opacity: 1;
      }
    }
  }
}
