@import "@/shared/vars";

.KindDeedsPage {
  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }

  &__caption {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-black);

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 20px;
    }

    &__red {
      color: var(--main-color);
    }

    &__bg {
      position: relative;

      &::after {
        content: url("@/public/KindDeeds/captionBG.jpg");
        position: absolute;
        display: block;
        top: 0;
        z-index: var(--z-index-hidden);
        right: -60px;

        @media (max-width: $tablet-mediaquery-width) {
          content: url("@/public/KindDeeds/Adaptive/captionBG.jpg");
          right: -25px;
          top: -2px;
        }
      }
    }
  }

  &__captionDesc {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 20px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 10px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 15px;
      width: 80%;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 9px;
      width: 100%;
    }
  }

  &__FAQCaption {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    margin-top: 40px;
    text-align: center;
    width: 100%;

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 30px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .padding {
    margin-bottom: 20px;
  }
}
