@import "@/shared/vars";

.InterpolationLineChart {
  height: 100%;
  width: 100%;
  border: 1.04px solid var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #fafafa;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: $padding-third-mediaquery) {
    gap: 5px;
  }

  &__category {
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    padding: 15px;
    height: 27px;
    background: linear-gradient(
      271deg,
      rgba(59, 130, 246, 0.1) 0%,
      rgba(59, 130, 246, 0) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-duration) linear border;

    @media (max-width: $mobile-mediaquery-width) {
      height: 15px;
      border: 0.45px solid var(--secondary-color);
      border-radius: 7px;
      padding: 8px;
    }

    &_text {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--black-color);
      opacity: 0.4;
      transition: var(--transition-duration) linear;
      transition-property: font-weight, opacity;
      white-space: nowrap;

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 9px;
      }
    }

    &__active {
      border: 1px solid var(--violet-color);

      .InterpolationLineChart__category_text {
        opacity: 1;
        font-weight: 600;
      }
    }
  }

  &Canvas {
    width: 100% !important;
    height: 80% !important;
    position: relative;
    right: -26px;

    @media (max-width: $mobile-mediaquery-width) {
      right: 0;
      width: 104% !important;
      height: 100% !important;
    }

    @media (max-width: $mobile-small-mediaquery-width) {
      width: 109% !important;
    }
  }

  &__switcher {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;

    @media (max-width: $mobile-mediaquery-width) {
      margin-right: 5px;
      margin-left: 5px;
    }

    &Wrapper {
      display: flex;
      align-items: center;
    }

    &__title {
      font-weight: 500;
      font-size: 10px;
      letter-spacing: -0.01em;
      color: var(--black-color);
      transition: var(--transition-duration) linear all;

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 8px;
      }

      &__active {
        color: var(--main-color);
      }
    }
  }
}
