.createOrderCostPayment {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 45px;
  gap: 30px;
  transition: var(--transition-duration) linear all;

  &__disappear {
    transform: translateX(-150%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cardChoice {
    display: flex;
    align-items: center;
    gap: 3px;

    &__select {
      svg {
        position: relative;
        top: 3px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
  }

  &__inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__inputsWrapper {
    display: grid;
    grid-template-columns: 48.8% 48.8%;
    gap: 20px;
    margin-top: 10px;
  }

  &__saveCard {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }

  &__pay {
    font-size: 20px;
    height: 73px;
    margin-top: 10px;
    align-self: center;
    width: 55%;
  }

  &__writeSupport {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
    margin-top: 5px;

    &__icon {
      border-radius: 100%;
      border: var(--main-color) 1px solid;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--main-color);
      cursor: pointer;
    }

    &__text {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);
      opacity: 0.4;
      transition: var(--transition-duration) linear all;

      &:hover {
        opacity: 1;
      }
    }
  }
}
