.Input {
  width: 100%;
  height: 78px;
  background: #fff;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  font-weight: 500;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #000;
  padding-left: 20px;
  transition: var(--transition-duration) all linear;

  &::placeholder {
    font-weight: 500;
    font-size: 21px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;
    opacity: 0.4;
  }

  &__warning {
    border: 1px solid var(--main-color);
  }
}
