.faq__accordion__item {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 30px 0 rgba(109, 132, 255, 0.25);
  background: rgba(247, 247, 247, 0.5);
  padding: 10px;

  &__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-align: left;
    background-color: transparent;
    border: none;
  }

  &Content {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
  }

  &__chevron {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }

  &__btnExpanded .faq__accordion__item__chevron {
    transform: rotate(180deg);
  }

  &Panel {
    padding: 1rem;
  }
}
