.whyNeedINNAndName .swiper {
  padding-left: 0 !important;
  display: flex;
  align-items: center;
  height: 100% !important;
  overflow: hidden;
  position: static;
  width: 100%;
}

.whyNeedINNAndName .swiper-wrapper {
  display: flex;
  align-items: center;
}

.whyNeedINNAndName .swiper-pagination-bullet {
  opacity: 0.2;
  transition: var(--transition-duration) linear all;
  background-color: var(--main-color);
}

.whyNeedINNAndName .swiper-pagination-bullet-active {
  opacity: 1;
}
