.InternalPage__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

@font-face {
  font-family: Montserrat;
  src: url("../shared/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url("../shared/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url("../shared/fonts/OpenSans/OpenSans.ttf") format("ttf");
}

@font-face {
  font-family: BebasNeue;
  src: url("../shared/fonts/BebasNeue/BebasNeue-Bold.ttf") format("ttf");
}

.InternalPage {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.InternalPage:root {
  --font-family: "OpenSans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "BebasNeue", sans-serif;
}

.InternalPage body {
  overflow-x: hidden;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  max-width: 100vw;
  background: url("../../../../public/MainPage/images/other/body_background.webp");
  background-size: cover;
}

.InternalPage #root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.InternalPage * {
  box-sizing: border-box;
  font-family: var(--font-family);
}

.InternalPage__caption {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000;

  span {
    color: #f55;
  }
}

.InternalPage__wrapper {
  box-shadow: 0 4px 30px 0 rgba(109, 132, 255, 0.25);
  background: #f4f7ff;
}

.InternalPage__subcaption {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000;
}

.InternalPage__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #747474;
}
