.marketPlaceSlider_item {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 30px 0 rgba(109, 132, 255, 0.25);
  background: rgba(247, 247, 247, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
  position: relative;
  padding-bottom: 30px;

  &__img {
    border-radius: 100%;
    width: 156px;
    height: 156px;
    object-fit: cover;
    position: absolute;
    top: -70px;
  }

  &__author {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;
    margin-top: 65px;
    margin-bottom: 3px;
  }

  &__stars {
    display: flex;
    margin-top: 10px;
  }
}
