@import "@/shared/vars";

.Avatar {
  border-radius: 100%;
  object-fit: cover;
  object-position: center center;

  &__smaller {
    width: 45px;
    height: 45px;

    @media (max-width: $mobile-mediaquery-width) {
      width: 18px;
      height: 18px;
    }
  }

  &__small {
    width: 58px;
    height: 59px;

    @media (max-width: $mobile-mediaquery-width) {
      width: 23px;
      height: 23px;
    }
  }

  &__medium {
    width: 105px;
    height: 105px;

    @media (max-width: $mobile-mediaquery-width) {
      width: 30px;
      height: 30px;
    }
  }

  &__big {
    width: 135px;
    height: 135px;
  }
}
