.FAQTab {
  margin-top: 45px;

  &__caption {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);
  }

  &__wrapper {
    border: 1px solid var(--secondary-color);
    width: 100%;
    padding: 30px 33px;
    padding-bottom: 37px;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
