@import "@/shared/vars";

.ql-container.ql-snow {
  border: none;
  width: 100%;
}

.ql-editor {
  border: var(--secondary-color) 1px solid;
  height: 330px;
  border-radius: 0 0 25px 25px;
  width: 100%;

  @media (max-width: $mobile-mediaquery-width) {
    height: 85px;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
  }
}

.ql-toolbar.ql-snow {
  border: 1px solid var(--secondary-color);
  display: flex;
  align-items: center;
  height: 51px;
  border-radius: 25px 25px 0 0;
  border-bottom: 2px solid var(--secondary-color);
  width: 100%;

  @media (max-width: $mobile-mediaquery-width) {
    height: 15px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0;
  }
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  border-right: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: var(--transition-duration) linear all;
  color: var(--black-color);
  height: 30px;

  @media (max-width: $mobile-mediaquery-width) {
    height: 15px;
    width: 20px;
  }
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--black-color);
  max-width: 100%;
  word-break: break-all;

  @media (max-width: $mobile-mediaquery-width) {
    font-size: 10px;
  }
}

.ql-editor.ql-blank::before {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--gray-color);

  @media (max-width: $mobile-mediaquery-width) {
    font-size: 10px;
  }
}
