.Filter {
  &__adaptive {
    border-radius: 10px;
    width: 343px;
    width: 100%;
    max-height: 33px;
    background: linear-gradient(
      270deg,
      rgba(59, 130, 246, 0.4) 0%,
      rgba(59, 130, 246, 0.1) 100%
    );
    margin-bottom: 10px;
    cursor: pointer;
    overflow-y: hidden;
    transition: var(--transition-duration) linear;
    transition-property: max-height;
    padding: 15px;
    padding-top: 10px;

    &__wrapper {
      margin-bottom: 10px;
    }

    &__text {
      font-weight: 600;
      font-size: 14px;
    }

    &__active {
      max-height: 800px;
    }
  }
}
