.TelegramChannelStatsInvolvement {
  padding: 10px 15px;

  &__chart {
    margin-top: 25px;
  }

  &__tip {
    margin-top: 20px;
    margin-bottom: 30px;

    &__second {
      margin-top: 20px;
      margin-bottom: 120px;
    }
  }
}
