@import "@/shared/vars";

.CheckBoxBlock {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  background-color: var(--white-color);
  transition: var(--transition-duration) linear all;
  box-shadow: 0 0 15px transparent;
  cursor: pointer;

  @media (max-width: $mobile-mediaquery-width) {
    min-width: 11px;
    min-height: 11px;
    max-width: 11px;
    max-height: 11px;
    border-radius: 2px;
  }

  &__active {
    background-color: var(--main-color);
  }

  &__warn {
    box-shadow: 0 0 15px var(--main-color);
  }
}
