.orderSuccessfullyPaid {
  width: 100%;
  height: 140px;
  transition: var(--transition-duration) all linear;
  max-height: 140px;
  opacity: 1;
  margin-top: 20px;

  &__paddingWrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    padding-left: 70px;
  }

  &__closed {
    max-height: 0;
    opacity: 0;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
  }

  &__text {
    opacity: 0.4;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    &Wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  &__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid var(--main-color) 5px;
    width: 93px;
    height: 93px;
  }

  &__close {
    cursor: pointer;
  }
}
