.NotFoundPage {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;

    * {
      font-family: var(--third-family);
    }
  }

  .padding {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
