.catalog {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  &__categories {
    display: flex;
    margin-top: 15px;
    gap: 15px;
  }

  &__category {
    border-radius: 15px;
    width: 250px;
    height: 68px;
    font-size: 18px;
  }

  &__body {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 15px;
  }

  &__loadMore {
    border-radius: 40px;
    width: 204px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      271deg,
      rgba(59, 130, 246, 0.1) 0%,
      rgba(59, 130, 246, 0) 100%
    );
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #141414;
    margin-top: 50px;
    cursor: pointer;
    align-self: center;
    transition: 0.3s linear all;
    border: 1px solid transparent;

    &:hover {
      color: #f55;
      background: #fff;
      border: 1px solid #f55;
      box-shadow: 0 0 15px #f55;
    }
  }
}
