.reviews__item {
  display: flex;
  width: 100%;
  border: 3px solid #4266c6;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background: var(--white-color);
  justify-content: space-between;

  &__firstCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  &__secondCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 35.6%;
  }

  &__userInfo {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__bio {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__username {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.04em;
    color: var(--black-color);
  }

  &__seniority {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #4470e8;
    opacity: 0.4;
  }

  &__date {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -0.04em;
    color: #92acf2;
    padding: 20px;
    padding-right: 30px;

    &__small {
      font-size: 16px;
    }
  }

  &__reportBug {
    padding: 20px;
    padding-right: 30px;
  }

  &__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: var(--black-color);
    margin-top: 10px;
    padding-left: 10px;
  }

  &__stars {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: 10px;
    gap: 5px;

    &Wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__rating {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: var(--black-color);
    margin-left: 10px;
  }

  &__project {
    display: flex;
    border: 1px solid var(--secondary-color);
    border-radius: 15px 0 0 15px;
    height: 134px;
    background: #f7f7f7;
    width: 100%;
    padding: 5px;

    &__img {
      border-radius: 10px;
      height: 100%;
      width: 50%;
      object-fit: cover;
      object-position: center center;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
    }

    &__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--black-color);
    }

    &__price {
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--main-color);
    }
  }
}
