@import "@/shared/vars";

.KindDeedsRequestCreated {
  height: 599px;

  @media (max-width: $mobile-mediaquery-width) {
    height: 417px;
    border-top: 1px solid #eaf2ff;
    border-bottom: 1px solid #eaf2ff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  * {
    line-height: 150%;
    letter-spacing: -0.01em;
  }

  &__img {
    height: 340px;
    object-fit: cover;
    object-position: center center;

    @media (max-width: $mobile-mediaquery-width) {
      height: 252px;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 36px;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 20px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-color);
    width: 60%;
    text-align: center;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 12px;
      width: 80%;
    }
  }

  &__button {
    height: 51px;
    width: 227px;
    font-weight: 600;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 60px;

    @media (max-width: $mobile-mediaquery-width) {
      border-radius: 9px;
      width: 136px;
      height: 30px;
      font-size: 12px;
      margin-bottom: 20px;
      padding: 0;
    }
  }
}
