.BlogActualPosts {
  border: 1px solid #eaf2ff;
  border-radius: 25px;
  padding: 20px;
  background: #fff;
  width: 100%;

  &__caption {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;
  }
}
