@import "@/shared/vars";

.KindDeedsAlreadyHelpedItem {
  padding: 10px;

  @media (max-width: $mobile-mediaquery-width) {
    padding: 8px;
  }

  * {
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);
  }

  &__img {
    border-radius: 20px;
    height: 314px;
    width: 100%;
    object-fit: cover;
    object-position: center center;

    @media (max-width: $mobile-mediaquery-width) {
      height: 188px;
      border-radius: 12px;
    }
  }

  &__person {
    font-weight: 700;
    font-size: 24px;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 14px;
    }
  }

  &__info {
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 9px;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 15px;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 9px;
    }
  }

  &__gathering {
    font-weight: 700;
    font-size: 14px;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 9px;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 14px;
    opacity: 0.4;
    color: var(--main-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 9px;
    }
  }

  &__progressbar {
    border-radius: 1000px;
    height: 24px;
    background-color: var(--main-color);
    width: 100%;

    @media (max-width: $mobile-mediaquery-width) {
      height: 14px;
      border-radius: 599px;
    }
  }

  &__knowHistory {
    width: 100%;
    text-align: center;

    &__text {
      font-weight: 700;
      font-size: 16px;
      color: var(--violet-color);

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 10px;
      }
    }
  }

  &__blueLine {
    width: 100%;
    height: 1px;
  }
}
