.meetAdvantages {
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  &__caption {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    width: 60%;

    &_span {
      color: #f55;
    }
  }

  &__svg {
    position: relative;
    z-index: 1;
    left: 25px;
    top: 10px;
  }

  &__wrapper {
    margin-top: 100px;
    display: flex;
    padding-left: 120px;
  }

  &__text {
    height: 464px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 30px 0 rgba(109, 132, 255, 0.25);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    width: 100%;
    padding: 40px 50px;

    &__caption {
      font-weight: 400;
      font-size: 40px;
      line-height: 145%;
      letter-spacing: -0.01em;
      color: #000;
      width: 60%;

      &_span {
        color: #f55;
      }
    }

    &__disadvantages {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-top: 20px;
      margin-left: 25px;
    }

    &__disadvantage {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #000;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_0_144)'%3E%3Cpath d='M11.1158 8.16567L8.16842 8.53502C8.41617 9.12565 8.70317 10.0627 8.70317 11.2342C8.70317 11.8907 8.49199 12.375 8.07531 12.6727C7.79546 12.873 7.43602 12.9746 7.00642 12.9746H6.98525L6.96418 12.972C6.79067 12.9528 6.63554 12.8949 6.50526 12.8035C6.3407 12.688 6.21548 12.5189 6.14353 12.3074C6.06542 12.0771 6.07099 11.8662 6.07427 11.8074C6.07814 11.6965 6.06642 11.5881 6.03968 11.4845C5.96108 11.1809 5.8309 10.9275 5.51647 10.3156L5.50166 10.2872C5.29158 9.87765 5.0502 9.73036 4.71609 9.52674C4.43178 9.35337 4.1092 9.15689 3.76089 8.77673C3.60368 8.60544 3.42261 8.35451 3.26152 8.08592C3.2328 8.04734 3.20816 8.0037 3.18679 7.95361C3.18421 7.94856 3.18143 7.94399 3.17864 7.93943C3.17099 7.92594 3.16086 7.90849 3.15012 7.88686C3.13382 7.85721 3.11604 7.82418 3.09775 7.78917C2.79555 7.52733 2.32848 7.53219 2.04456 7.53546C2.01554 7.53576 1.98861 7.53596 1.96417 7.53596C1.46659 7.53596 1.17254 7.34126 1.01304 7.17781C0.791726 6.95049 0.674462 6.62933 0.674462 6.24877L0.674164 2.10474C0.674164 1.53504 0.86596 1.29611 1.00996 1.16589C1.29109 0.91198 1.68919 0.88282 1.96417 0.88282H2.87237C3.09547 0.88282 3.31012 0.787109 3.58231 0.666206C3.73624 0.597672 3.91045 0.52021 4.10841 0.450882C4.74561 0.230499 5.52531 0.0903549 6.50526 0.0231094C6.96726 -0.00862885 7.47368 -0.0241013 8.03079 -0.0241013C8.36787 -0.0241013 9.41321 -0.0253906 9.41321 -0.0253906C9.79044 -0.0253906 10.1453 0.122391 10.4394 0.401886C10.5951 0.54937 10.6897 0.735237 10.7287 0.969605C10.7373 1.02168 10.7429 1.13087 10.7434 1.18999C10.7494 1.33876 10.7276 1.4799 10.6806 1.60992C10.9828 1.64394 11.2674 1.77397 11.4854 1.98166C11.7525 2.23656 11.8998 2.59074 11.8998 2.97894C11.8998 3.26349 11.8095 3.53217 11.6421 3.75305C11.7411 3.80155 11.8344 3.86443 11.9181 3.94547C12.1343 4.15543 12.2465 4.44663 12.2509 4.81103C12.2648 5.17453 12.1382 5.49062 11.8995 5.7245C12.1519 5.97562 12.3178 6.33536 12.3348 6.73447C12.3674 7.48676 11.822 8.125 11.1158 8.16567Z' fill='%23FF5B5B' /%3E%3Cpath d='M11.1158 8.16567L8.16842 8.53502C8.41617 9.12565 8.70317 10.0627 8.70317 11.2342C8.70317 11.8907 8.49199 12.375 8.07531 12.6727C7.79547 12.873 7.43602 12.9746 7.00642 12.9746H6.98525L6.96418 12.972C6.79067 12.9528 6.63555 12.8949 6.50526 12.8035V0.0231094C6.96726 -0.00862885 7.47369 -0.0241013 8.03079 -0.0241013C8.36787 -0.0241013 9.41321 -0.0253906 9.41321 -0.0253906C9.79044 -0.0253906 10.1453 0.122391 10.4394 0.401886C10.5951 0.54937 10.6897 0.735237 10.7287 0.969605C10.7373 1.02168 10.7429 1.13087 10.7434 1.18999C10.7494 1.33876 10.7276 1.4799 10.6806 1.60992C10.9828 1.64394 11.2674 1.77397 11.4854 1.98166C11.7525 2.23656 11.8998 2.59074 11.8998 2.97894C11.8998 3.26349 11.8095 3.53217 11.6421 3.75305C11.7411 3.80155 11.8344 3.86443 11.9181 3.94547C12.1343 4.15543 12.2465 4.44663 12.2509 4.81103C12.2648 5.17453 12.1382 5.49062 11.8995 5.7245C12.1519 5.97562 12.3178 6.33536 12.3348 6.73447C12.3674 7.48676 11.822 8.125 11.1158 8.16567Z' fill='%23FF3636' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_144'%3E%3Crect width='13' height='13' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        display: block;
        position: relative;
        left: -15px;
      }
    }
  }
}
