@import "@/shared/vars";

.FilterContent {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 20px 15px;
  background: linear-gradient(
    271deg,
    rgba(59, 130, 246, 0.25) 0%,
    rgba(59, 130, 246, 0.04) 100%
  );
  border-radius: 40px;
  height: fit-content;

  @media (max-width: $tablet-mediaquery-width) {
    width: 100%;
    background: none;
    padding: 10px 5px;
  }

  &__caption {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    margin-left: 10px;
  }

  &__search {
    height: 43px;
    width: 100%;
    background: var(--white-color);
    border-radius: 15px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #b2b2b2;
    margin-top: 20px;
    padding-left: 15px;

    &Wrapper {
      position: relative;

      &::after {
        content: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5_180)'%3E%3Cpath d='M16.4569 15.4843L12.4109 11.2762C13.4512 10.0396 14.0212 8.48359 14.0212 6.86374C14.0212 3.07913 10.9421 0 7.15744 0C3.37284 0 0.293701 3.07913 0.293701 6.86374C0.293701 10.6484 3.37284 13.7275 7.15744 13.7275C8.57824 13.7275 9.93219 13.299 11.0898 12.4854L15.1665 16.7255C15.3369 16.9024 15.5661 17 15.8117 17C16.0442 17 16.2647 16.9114 16.4322 16.7502C16.7879 16.4079 16.7992 15.8403 16.4569 15.4843ZM7.15744 1.79054C9.95487 1.79054 12.2306 4.06632 12.2306 6.86374C12.2306 9.66117 9.95487 11.9369 7.15744 11.9369C4.36002 11.9369 2.08424 9.66117 2.08424 6.86374C2.08424 4.06632 4.36002 1.79054 7.15744 1.79054Z' fill='%23FF5555' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5_180'%3E%3Crect width='17' height='17' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        display: block;
        position: absolute;
        right: 15px;
        top: 33px;
        width: 17px;
        height: 17px;
        cursor: pointer;
      }
    }

    &::placeholder {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #b2b2b2;
    }
  }

  &__themes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
  }

  &__tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

    &__items {
      display: flex;
      gap: 5px;
      margin-top: 5px;
      margin-left: 10px;
    }

    &__item {
      border-radius: 100%;
      background-color: var(--white-color);
      width: 29px;
      height: 29px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition-duration) linear all;
      cursor: pointer;

      svg * {
        transition: var(--transition-duration) linear all;
      }

      &__selected {
        background-color: var(--main-color);

        svg * {
          fill: var(--white-color);
        }
      }
    }
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    margin-left: 10px;
  }

  &__selects {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
    margin-bottom: 5px;
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    height: 55px;
    width: 100%;
    margin-top: 15px;

    &__save {
      font-weight: 900;
    }
  }

  &__select {
    height: 43px;
    background: var(--white-color);

    &__svg {
      margin-right: 10px;
      rotate: -90deg;
    }
  }

  &__more {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #5f9fff;
    cursor: pointer;
    transition: all var(--transition-duration) linear;

    &:hover {
      color: var(--main-color);
    }
  }
}
