.stats {
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.25);
  background: #fff;
  padding: 10px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 20px;
    padding: 15px;
  }
}
