.TelegramChannelStatsAllStatistics {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;

  &__data {
    padding: 20px;
    width: 72%;
    background-color: var(--white-color);
    padding-top: 0;
  }
}
