.catalog {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  &__categories {
    display: flex;
    margin-top: 15px;
    gap: 15px;
  }

  &__category {
    border-radius: 15px;
    width: 208px;
    height: 68px;
    font-size: 18px;
  }

  &__body {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }
}
