@import "@/shared/vars";

.Select {
  display: flex;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;

  &__svg {
    transition: all 0.2s linear;

    @media (max-width: $mobile-mediaquery-width) {
      width: 7px;
      height: 5px;
    }

    &__active {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}
