:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Open Sans", sans-serif;
}

body {
    overflow-x: hidden;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    max-width: 100vw;
    padding: 0 370px;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(images/other/body_background.jpg);
    background-size: cover;
    margin: 70px 0;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

abbr {
    text-decoration: none;
}