.page__caption {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #000;
  position: relative;
  width: fit-content;

  &::after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23FF5555' /%3E%3C/svg%3E");
    display: block;
    position: absolute;
    top: -20%;
    right: -3%;
    width: 24px;
    height: 24px;
  }
}

.padding {
  padding: 0 370px;

  @media (max-width: 1900px) {
    padding: 0 300px;
  }

  @media (max-width: 1750px) {
    padding: 0 150px;
  }

  @media (max-width: 1450px) {
    padding: 0 50px;
  }

  @media (max-width: 1000px) {
    padding: 0 20px;
  }
}

:root {
  --main-color: #f55;
  --transition-duration: 0.3s;
}

.Page__transitionToMainColor {
  transition: var(--transition-duration) all linear;
  cursor: pointer;

  * {
    transition: var(--transition-duration) all linear;
  }

  &:hover {
    color: var(--main-color);

    * {
      fill: var(--main-color);
    }
  }
}
