@font-face {
  font-family: Manrope;
  src: url("../shared/fonts/Manrope/Manrope.ttf") format("ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../shared/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url("../shared/fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("../shared/fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url("../shared/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url("../shared/fonts/OpenSans/OpenSans.ttf") format("ttf");
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "OpenSans", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-style: normal;
  margin: 0;
  max-width: 100vw;
  padding: 0 370px;
  background: url("../../public/images/other/body_background.jpg");
  background-size: cover;

  @media (max-width: 1900px) {
    padding: 0 300px;
  }

  @media (max-width: 1750px) {
    padding: 0 150px;
  }

  @media (max-width: 1450px) {
    padding: 0 50px;
  }

  @media (max-width: 1000px) {
    padding: 0 20px;
  }
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}
