h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

abbr {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  border: none;
}

input:focus-visible {
  outline: none;
}

address {
  font-style: normal;
}

pre {
  margin: 0;
}

textarea {
  resize: none;

  &:focus-visible {
    outline: none;
  }
}
