@import "@/shared/vars";

.ProjectPage {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;

    * {
      font-family: var(--third-family);
    }
  }
}

.ProjectPage__caption {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--black-color);
  white-space: nowrap;

  @media (max-width: $tablet-mediaquery-width) {
    font-size: 24px;
  }
}

.ProjectPage__subcaption {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--black-color);

  @media (max-width: $mobile-mediaquery-width) {
    font-size: 14px;
  }
}

.ProjectPage__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--black-color);
  opacity: 0.4;
}

.ProjectPage__span {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--black-color);
  opacity: 0.4;
}

.ProjectPage__service {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ProjectPage__service_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--black-color);
  opacity: 0.4;
}

.padding {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
