@import "@/shared/vars";

.BlogOpenPost {
  padding: 10px 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--black-color);

  @media (max-width: $mobile-mediaquery-width) {
    padding: 0 5px;
  }

  &__theme {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__bookmark {
    transition: var(--transition-duration) linear;
    transition-property: fill, stroke-width;
    cursor: pointer;

    @media (max-width: $mobile-mediaquery-width) {
      width: 6px;
      height: 8px;
      position: relative;
      bottom: 2px;
    }

    &__active {
      fill: var(--main-color);
      stroke-width: 0;
    }
  }

  &__share {
    width: 20px;
    height: 19px;

    @media (max-width: $mobile-mediaquery-width) {
      width: 10px;
      height: 10px;
      position: relative;
      bottom: 1.5px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 13px;
    }
  }

  &__amount {
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }

    &__svg {
      width: 20px;
      height: 20px;

      @media (max-width: $mobile-mediaquery-width) {
        width: 8px;
        height: 8px;
      }

      &__gray {
        path {
          fill: var(--gray-color);
        }
      }

      &__stroke {
        path {
          stroke: var(--gray-color);
        }
      }
    }
  }

  &__postImgURL {
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    height: 261px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    margin: 10px 0;

    @media (max-width: $mobile-mediaquery-width) {
      height: 109px;
      border: 0.42px solid var(--secondary-color);
      border-radius: 6px;
      margin: 5px 0;
    }

    &__storybook {
      width: auto;
    }
  }

  &__authorName {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__authorCategory {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__subscribeButton {
    width: 202px;
    height: 41px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: var(--transition-duration) linear all;

    @media (max-width: $mobile-mediaquery-width) {
      border: 0.42px solid var(--secondary-color);
      border-radius: 4px;
      width: 84px;
      height: 17px;
      padding: 0;
      font-size: 8px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 19px;
    line-height: 120%;
    margin-top: 10px;
    white-space: pre-line;
    padding-bottom: 20px;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 10px;
    }
  }

  &__tags {
    flex-wrap: wrap;
    width: 60%;
  }

  &__tag {
    padding: 0 25px;
    height: 49px;
    font-weight: 500;
    font-size: 19px;
    line-height: 120%;
    border-radius: 15px;

    @media (max-width: $mobile-mediaquery-width) {
      border: 0.45px solid var(--secondary-color);
      border-radius: 7px;
      padding: 0 10px;
      height: 22px;
      font-size: 8px;
    }
  }

  &__footer {
    &__amount {
      font-weight: 500;
      font-size: 23px;
      line-height: 120%;
      color: var(--gray-color);

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 10px;
      }

      &__svg {
        width: 27px;
        height: 27px;

        @media (max-width: $mobile-mediaquery-width) {
          width: 10px;
          height: 10px;

          svg {
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 4px;
          }
        }

        path {
          transition: var(--transition-duration) linear;
          transition-property: fill, opacity, stroke;
        }

        &__active {
          path {
            fill: var(--black-color);
            opacity: 1;
            stroke: var(--white-color);
          }
        }

        &__gray {
          path {
            fill: var(--gray-color);
          }
        }

        &__stroke {
          path {
            stroke: var(--gray-color);
          }
        }
      }
    }
  }
}
