@import "@/shared/vars";

.header__services {
  &__caption {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 11px;
    }
  }

  &__dropdown {
    gap: 15px;
    height: 450px;
    top: 20px;
    left: -20px;
    padding: 15px;
    padding-right: 35px;

    @media (max-width: $mobile-mediaquery-width) {
      height: 385px;
    }

    &__category {
      display: flex;
      flex-direction: column;
      gap: 3px;

      &__title {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--black-color);
        opacity: 0.4;
        position: relative;
        left: 3px;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      &__value {
        display: flex;
        gap: 10px;
        align-items: center;

        &__text {
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: var(--black-color);
          white-space: nowrap;
          cursor: pointer;

          @media (max-width: $mobile-mediaquery-width) {
            font-size: 14px;
          }

          &::after {
            content: "";
            display: block;
            width: 0;
            transition: var(--transition-duration) linear width;
            background-color: var(--main-color);
            height: 2px;
            border-radius: 10px;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }

        &__svg {
          min-width: 20px;
          min-height: 20px;
          max-width: 20px;
          max-height: 20px;
          position: relative;
          bottom: 1px;
        }
      }
    }
  }
}
