@import "@/shared/vars";

.RegModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;

  @media (max-width: $tablet-mediaquery-width) {
    padding: 0;
  }

  &__img {
    width: 303px;
    height: 230px;
    object-fit: cover;
    object-position: center center;

    @media (max-width: $mobile-mediaquery-width) {
      width: 144px;
      height: 110px;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 30px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;

    @media (max-width: $tablet-mediaquery-width) {
      padding: 0;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @media (max-width: $mobile-mediaquery-width) {
      gap: 10px;
    }
  }

  &__inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;

    &__span {
      font-weight: 600;
      font-size: 21px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 12px;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;

    @media (max-width: $mobile-mediaquery-width) {
      gap: 8px;
      margin-top: 10px;
    }
  }

  &__loginButton {
    height: 89px;
    width: 100%;
    font-size: 24px;
    line-height: 150%;

    @media (max-width: $mobile-mediaquery-width) {
      height: 42px;
      font-size: 12px;
    }

    &Telegram {
      display: flex;
      align-items: center;
      gap: 10px;

      @media (max-width: $mobile-mediaquery-width) {
        gap: 5px;
      }

      &::after {
        content: url("@/shared/assets/icons/Header/AuthModal/LoginTelegramSVG.svg");
        display: block;
        position: relative;
        top: 8px;

        @media (max-width: $mobile-mediaquery-width) {
          content: url("@/shared/assets/icons/Header/AuthModal/LoginTelegramMobileSVG.svg");
          top: 4px;
        }
      }
    }
  }

  &__login {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    align-self: center;
    margin-top: 10px;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 12px;
    }

    &__span {
      color: var(--main-color);
      cursor: pointer;
    }
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;

    @media (max-width: $mobile-mediaquery-width) {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  &__checkbox {
    display: flex;
    gap: 15px;

    @media (max-width: $mobile-mediaquery-width) {
      gap: 8px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__agree {
    margin-top: 10px;

    @media (max-width: $mobile-mediaquery-width) {
      margin-top: 5px;
    }
  }
}
