.channel_reviews {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &__caption {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #000;
  }
}
