.BlogDiscussedPosts {
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  background: #fff;
  border: 1px solid #eaf2ff;
  margin-top: 30px;

  &__items {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    grid-template-rows: repeat(2, 50%);
  }
}
