.BlogDiscussedPosts {
  padding: 15px;
  width: 100%;
  margin-top: 30px;

  &__items {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    grid-template-rows: repeat(2, 50%);
  }
}
