@import "@/shared/vars";

.header__userMenu {
  padding: 15px;
  align-items: center;
  height: 80vh;
  max-height: 80vh;
  top: 50px;
  width: 20vw;
  left: -10vw;
  gap: 5px;
  overflow-y: auto !important;

  @media (max-width: $tablet-mediaquery-maxwidth) {
    width: 30vw;
    left: -20vw;
  }

  @media (max-width: $mobile-mediaquery-maxwidth) {
    width: 60vw;
    left: -45vw;
  }

  &__trigger {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $mobile-mediaquery-maxwidth) {
      font-size: 12px;
    }
  }

  &__img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: center center;
    border-radius: 100%;
  }

  &__username {
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    margin-top: 5px;
  }

  &__email {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    opacity: 0.4;
  }

  &__telegramAttached {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 54px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;

    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--black-color);
    }

    &__svg {
      position: relative;
      top: 3px;
    }
  }

  &__info {
    width: 100%;
    height: 63px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: space-around;
    margin-top: 5px;

    &__item {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      display: flex;

      &__key {
        opacity: 0.4;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--black-color);
      }

      &__value {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--black-color);
      }
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;

    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);
      opacity: 0.4;
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-bottom: 1px solid var(--secondary-color);
      padding-bottom: 10px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 7px;

      &__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--black-color);
        transition: var(--transition-duration) linear color;

        &:hover {
          color: var(--main-color);
        }
      }

      &__icon {
        max-width: 15px;
        min-width: 15px;
        max-height: 15px;
        min-height: 15px;
      }

      &__leave {
        margin-top: 10px;
        display: flex;
        align-items: center;

        &__text {
          color: var(--main-color);
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          transition: var(--transition-duration) linear text-shadow;
          cursor: pointer;
          position: relative;
          top: 1px;

          &:hover {
            text-shadow: 0 0 20px var(--main-color);
          }
        }
      }
    }

    &Wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__balance {
    height: 58px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: 5px;
    border-radius: 15px;

    &__amount {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.01em;

      &__pennies {
        opacity: 0.4;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.01em;
        margin-right: 3px;
      }
    }

    &__increase {
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.01em;
    }
  }
}

.header__item__reg {
  cursor: pointer;
  transition: var(--transition-duration) linear color;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--black-color);
  font-family: var(--second-family);

  &:hover {
    color: var(--main-color);
  }
}
