.MoveToOpenCart {
  height: 27vh;
  padding: 20px 50px;
  transform: translateY(150%);
  transition: var(--transition-duration) linear transform;
  position: fixed;
  bottom: 0;
  width: 69.1vw;
  left: 24vw;

  &__visible {
    transform: translateY(0);
  }

  &__item {
    height: 91px;
    width: 25%;
  }

  &__items {
    width: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;
    position: relative;
    bottom: 5px;
  }

  &__finalPrice {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;
    margin-top: 15px;
    align-self: center;
  }

  &__toCart {
    font-size: 18px;
    height: 60px;
    width: 35%;
    align-self: center;
    margin-top: 5px;
  }
}
