.createCard {
  display: flex;
  flex-direction: column;

  &__caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
  }

  &__wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 66% 34%;
    gap: 20px;
  }
}
