@import "@/shared/vars";

.KindDeedsTip {
  border: 1px solid var(--violet-color);
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    271deg,
    rgba(59, 130, 246, 0.1) 0%,
    rgba(59, 130, 246, 0) 100%
  );

  @media (max-width: $mobile-mediaquery-width) {
    border: 0.29px solid #4266c6;
    border-radius: 7px;
  }

  &__caption {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-black);

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 30px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 14px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--color-black);

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 15px;
    }

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 9px;
    }
  }
}
