.platform_Privileges__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  padding-bottom: 0;

  &:nth-child(1) {
    height: 149px;
  }

  &:nth-child(2) {
    height: 149px;
  }

  &:nth-child(3) {
    height: 181px;
  }

  &:nth-child(4) {
    height: 149px;
  }

  &__index {
    position: relative;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--main-color);
    top: -55px;
  }

  &__caption {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    position: relative;
    top: -40px;
    margin-left: 35px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    position: relative;
    top: -40px;
    margin-left: 35px;
  }
}
