.buy_ads {
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0, 0.25);
  background: var(--white-color);
  padding: 30px 50px;
  gap: 20px;
}
