@import "@/shared/vars";

.KindDeedsSlider {
  &__slider {
    width: 100%;
    position: relative;
    height: 100%;

    &__arrow {
      border-radius: 100%;
      background-color: var(--white-color);
      border: var(--secondary-color) 1px solid;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      width: 77px;
      height: 77px;

      svg {
        width: 12px;
        height: 24px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        width: 40px;
        height: 40px;

        svg {
          width: 7px;
          height: 14px;
        }
      }

      &__prev {
        transform: rotate(180deg);
      }
    }

    &__button {
      transition: var(--transition-duration) linear opacity;
      position: absolute;
      z-index: var(--z-index-arrows);

      &__prev {
        left: 40px;

        @media (max-width: $mobile-mediaquery-width) {
          left: 10px;
        }
      }

      &__next {
        right: 40px;

        @media (max-width: $mobile-mediaquery-width) {
          right: 10px;
        }
      }
    }
  }

  &__button {
    border-radius: 17px;
    height: 66px;
    font-size: 21px;
    padding: 20px 60px;
    margin-top: 10px;

    @media (max-width: $mobile-mediaquery-width) {
      border-radius: 10px;
      height: 37px;
      font-size: 12px;
      padding: 20px 40px;
      margin-top: 15px;
    }
  }
}
