.Select {
  display: flex;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;

  &__svg {
    transition: all 0.2s linear;

    &__active {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}
