.ChannelsExamples {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  &__caption {
    width: 70%;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 25px;
    margin-top: 50px;
    width: 100%;
  }
}
