@import "@/shared/vars";

.PostsBlock {
  height: 183px;
  width: 100%;
  background: linear-gradient(
    271deg,
    rgb(59, 130, 246, 0.1) 0%,
    rgb(59, 130, 246, 0) 100%
  );
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: var(--third-family);

  @media (max-width: $mobile-mediaquery-width) {
    height: 50px;
    border-radius: 5px;
  }

  &__img {
    position: absolute;
    top: -20px;

    @media (max-width: $mobile-mediaquery-width) {
      width: 19px;
      height: 19px;
      top: -5px;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: var(--black-color);
    margin-top: 30px;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 9px;
      margin-top: 10px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: var(--black-color);
    position: relative;
    bottom: 5px;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
      bottom: 0;
    }
  }
}
