.stats__item {
  display: flex;
  width: 100%;
  padding: 15px 30px;
  padding-right: 0;
  flex-direction: column;
  min-height: 280px;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #fafafa;
  padding-bottom: 0;
  overflow: hidden;

  &__stats {
    display: flex;
    flex-direction: column;

    &__chart {
      height: 196px !important;
      position: relative;
      top: 12px;
    }

    &__caption {
      margin-bottom: 35px;
      font-weight: 600;
      font-size: 46px;
      letter-spacing: -0.04em;
      color: var(--black-color);
    }

    &__dates {
      display: flex;
      flex-flow: wrap;
      flex-direction: column;
      max-height: 100px;
      gap: 10px;
      width: 100%;
    }

    &__amount {
      font-weight: 600;
      font-size: 22px;
      letter-spacing: -0.04em;
      color: var(--black-color);
    }

    &__amount__subscribers {
      font-weight: 600;
      font-size: 22px;
      letter-spacing: -0.04em;
      white-space: nowrap;

      &__grow {
        color: #35ec17;
      }

      &__shrink {
        color: #ff505e;
      }
    }

    &__date {
      align-items: center;
      display: flex;
      gap: 25px;

      &_text {
        font-weight: 400;
        font-size: 22px;
        letter-spacing: -0.04em;
        color: var(--black-color);
        opacity: 0.4;
        white-space: nowrap;
        position: relative;

        &__postfix {
          position: absolute;
          font-size: 15px;
          bottom: -3px;
        }
      }
    }

    &__graphics {
      display: flex;
      justify-content: space-between;

      &__caption {
        font-weight: 400;
        font-size: 19px;
        letter-spacing: -0.04em;
        color: var(--black-color);
        opacity: 0.4;
        padding-right: 30px;
      }
    }
  }
}
