@import "@/shared/vars";

.header {
  position: fixed;
  width: 100vw;
  z-index: var(--z-index-header);
  padding: $padding-default-value;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-color: var(--white-color);

  @media (max-width: $padding-first-mediaquery) {
    padding: $padding-first-mediaquery-value;
  }

  @media (max-width: $padding-second-mediaquery) {
    padding: $padding-second-mediaquery-value;
  }

  @media (max-width: $padding-third-mediaquery) {
    padding: $padding-third-mediaquery-value;
  }

  @media (max-width: $padding-fourth-mediaquery) {
    padding: $padding-fourth-mediaquery-value;
    padding-bottom: 10px !important;
  }

  &Wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__menu__dropdown {
    gap: 10px;
    height: 275px;
    top: 40px;
    padding: 15px;
    left: -50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 20px;

    &__logo {
      display: flex;
      gap: 20px;
      align-items: center;

      @media (max-width: $tablet-mediaquery-maxwidth) {
        gap: 0;
        flex-direction: column;
      }

      @media (max-width: $mobile-mediaquery-maxwidth) {
        gap: 10px;
      }
    }

    @media (max-width: $tablet-mediaquery-maxwidth) {
      gap: 10px;
    }
  }

  &__caption {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $tablet-mediaquery-maxwidth) {
      font-size: 30px;
    }

    @media (max-width: $mobile-mediaquery-maxwidth) {
      font-size: 14px;
    }

    &__span {
      color: var(--main-color);
    }
  }

  &__items {
    display: flex;
    align-items: center;
    width: 55%;
    gap: 10px;
    justify-content: flex-end;

    @media (max-width: $tablet-mediaquery-maxwidth) {
      width: 65%;
    }
  }

  &__item {
    margin-right: 30px;

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);
      transition: var(--transition-duration) linear all;

      &__active {
        color: var(--main-color);
      }
    }

    &__link {
      cursor: pointer;
      transition: 0.2s linear all;
      margin-right: 70px;
      margin-left: 30px;

      &:hover {
        color: var(--main-color);
      }
    }

    &__login {
      cursor: pointer;

      @media (max-width: $mobile-mediaquery-maxwidth) {
        width: 15px;
        height: 15px;
        position: relative;
        top: 3px;
      }

      path {
        transition: var(--transition-duration) linear fill;
      }

      &:hover {
        path {
          fill: var(--main-color);
        }
      }
    }

    &__reg {
      cursor: pointer;
      transition: var(--transition-duration) linear color;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);
      font-family: var(--second-family);

      &:hover {
        color: var(--main-color);
      }
    }
  }

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &__recovery {
      width: calc(100vw - 50vw) !important;

      @media (max-width: $tablet-mediaquery-maxwidth) {
        width: calc(100vw - 35vw) !important;
      }

      @media (max-width: $mobile-mediaquery-maxwidth) {
        width: calc(100vw - 10vw) !important;
      }
    }
  }

  &__stats {
    height: 28px;
    padding: 10px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: var(--color-black);

    @media (max-width: $tablet-mediaquery-maxwidth) {
      border-radius: 5px;
      position: relative;
      bottom: 5px;
      width: 100%;
    }

    @media (max-width: $mobile-mediaquery-maxwidth) {
      font-size: 8px;
      height: 15px;
    }
  }

  &__channelSearchInput {
    border: 1px solid var(--violet-color) !important;
    height: 55px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100% !important;

    @media (max-width: $tablet-mediaquery-maxwidth) {
      height: 44px !important;
    }

    @media (max-width: $mobile-mediaquery-maxwidth) {
      height: 30px !important;
    }

    &Wrapper {
      position: relative;
      width: 35%;

      @media (max-width: $mobile-mediaquery-maxwidth) {
        display: none;
      }

      &__adaptive {
        display: none;

        @media (max-width: $mobile-mediaquery-maxwidth) {
          display: block;
          width: 100%;
        }
      }

      &::after {
        content: url("@/shared/assets/icons/Header/ChannelSearch/ChannelSearchSVG.svg");
        display: block;
        position: absolute;
        top: 35%;
        right: 15px;

        @media (max-width: $mobile-mediaquery-maxwidth) {
          content: url("@/shared/assets/icons/Header/ChannelSearch/ChannelSearchAdaptiveSVG.svg");
          top: 20%;
        }
      }
    }

    &::placeholder {
      opacity: 0.4;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: -0.01em;
      color: var(--black-color);
    }
  }

  &__toMarketplace {
    height: 57px;
    width: 25%;
    font-size: 24px;

    @media (max-width: $tablet-mediaquery-maxwidth) {
      font-size: 14px;
      height: 40px;
    }

    @media (max-width: $mobile-mediaquery-maxwidth) {
      border-radius: 6px;
      height: 19px;
      font-size: 8px;
      padding: 12px;
    }
  }
}
