@import "@/shared/vars";

.PasswordRecoveryModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;

  @media (max-width: $tablet-mediaquery-maxwidth) {
    padding: 0;
  }

  &__img {
    width: 303px;
    height: 230px;
    object-fit: cover;
    object-position: center center;

    @media (max-width: $mobile-mediaquery-maxwidth) {
      width: 144px;
      height: 110px;
    }
  }

  &__caption {
    font-weight: 600;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    white-space: nowrap;

    @media (max-width: $laptop-mediaquery-maxwidth) {
      font-size: 40px;
    }

    @media (max-width: $mobile-mediaquery-maxwidth) {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;

    @media (max-width: $tablet-mediaquery-maxwidth) {
      padding: 0;
    }
  }

  &__inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;

    &__span {
      font-weight: 600;
      font-size: 21px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);

      @media (max-width: $mobile-mediaquery-maxwidth) {
        font-size: 12px;
      }
    }
  }

  &__recoveryButton {
    height: 89px;
    width: 100%;
    font-size: 24px;
    line-height: 150%;
    margin-top: 20px;

    @media (max-width: $mobile-mediaquery-maxwidth) {
      height: 42px;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
