.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  &__caption {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;

    &__span {
      color: #f55;
    }
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 30px;

    &__switcher {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-right: 30px;
    }

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #000;
    }

    &__link {
      cursor: pointer;
      transition: 0.2s linear all;
      margin-right: 70px;

      &:hover {
        color: #f55;
      }
    }

    &__navbar {
      cursor: pointer;
      margin-right: 30px;
    }

    &__login {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f55;
      height: 41px;
      border-radius: 15px;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #fff;
      padding: 20px;
      cursor: pointer;
      transition: 0.3s linear all;
      margin-right: 15px;

      &:hover {
        background: #fff;
        color: #f55;
        border: 1px solid #f55;
      }
    }

    &__reg {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #9fabb6;
      height: 41px;
      border-radius: 15px;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #fff;
      padding: 20px;
      cursor: pointer;
      transition: 0.3s linear all;

      &:hover {
        background: #fff;
        color: #f55;
        border: 1px solid #f55;
      }
    }
  }
}
