.userEditPortfolio {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  padding-top: 25px;
  width: 100%;

  &__CaseLoadingModal {
    border-radius: 25px;
    background: #fff;
    height: 960px;
    width: 60vw;
    top: 12.5%;
    left: 20%;
    position: relative;
  }

  &__LastDetailsModal {
    border-radius: 25px;
    background: #fff;
    height: 450px;
    width: 95vw;
    top: 12.5%;
    left: 2.5%;
    position: relative;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__addCase {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--main-color);
    transition: var(--transition-duration) linear all;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__cases {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;

    &__empty {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
        font-weight: 900;
        font-size: 40px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--main-color);
      }
    }
  }

  &__isSavedModal {
    padding: 0 20px;

    &Wrapper {
      border-radius: 25px;
      background: #fff;
      height: 209px;
      width: 35vw;
      top: 37%;
      left: 33%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__caption {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #000;
    }

    &__text {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #000;

      a {
        color: #f55;
      }
    }
  }
}
