.KindDeedsStats {
  * {
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);
  }

  &__title {
    font-weight: 600;
    font-size: 54px;
  }

  &__value {
    font-weight: 700;
    font-size: 88px;
    color: var(--main-color);
  }
}
