.BlogForReaders {
  padding: 20px;
  width: 100%;
  margin-top: 25px;

  &__more {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--main-color);
  }

  &__header {
    width: 100%;
  }

  &__items {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 31.5%);
    gap: 22px;
    margin-bottom: 10px;
  }

  &__item {
    cursor: pointer;
    box-shadow: 0 0 50px transparent;
    transition: var(--transition-duration) linear box-shadow;
    border-radius: 15px;

    &:hover {
      box-shadow: 0 0 100px var(--main-color);
    }

    &__img {
      border-radius: 15px;
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: center center;
    }

    &__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #000;
      padding: 10px 5px;
    }
  }
}
