@import "@/shared/vars";

.TelegramChannelStatsViewsAnalyze {
  &__caption {
    padding: 10px 25px;

    &Wrapper {
      border-bottom: 1px solid var(--secondary-color);
      width: 100%;
    }
  }

  &__header {
    width: 100%;
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 15px;

    @media (max-width: $mobile-mediaquery-width) {
      margin: 0;
    }
  }

  &__format {
    &Text {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--black-color);

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 9px;
      }

      &__value {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: var(--black-color);

        @media (max-width: $mobile-mediaquery-width) {
          font-size: 9px;
          position: relative;
          top: 2px;
        }
      }
    }

    &__select {
      background: linear-gradient(
        271deg,
        rgba(59, 130, 246, 0.1) 0%,
        rgba(59, 130, 246, 0) 100%
      );
      border: 1px solid var(--secondary-color);
      border-radius: 15px;
      height: 50px;
      padding: 10px;

      @media (max-width: $mobile-mediaquery-width) {
        height: 22px;
        border-radius: 5px !important;
        padding: 0;
      }

      &__svg {
        position: relative;
        top: 4px;
        margin-left: 30px;

        @media (max-width: $mobile-mediaquery-width) {
          top: 0;
          margin-left: 25px;
          right: 5px;

          svg {
            width: 5px;
            height: 8px;
          }
        }
      }
    }
  }
}
