.css-1uf4bbi.Mui-checked + .MuiSwitch-track {
  background-color: var(--main-color) !important;
}

.header__item__switcherComponent
  .css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: var(--main-color);
}

.header__item__switcherComponent
  .css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #f1f1f1;
  width: 58px;
  height: 32px;
  opacity: 1;
}

.css-julti5-MuiSwitch-root.header__item__switcherComponent {
  height: 32px;
  padding: 0;
  border: 1px solid #f1f1f1;
  border-radius: 100px;
  background-color: #f1f1f1;
}

.header__item__switcherComponent
  .css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase {
  color: #dce3e9;
  position: relative;
  bottom: 3px;
  transition: 0.3s linear all;
}

.header__item__switcherComponent .css-1yjjitx-MuiSwitch-track {
  background-color: #f1f1f1;
  width: 58px;
  height: 32px;
  opacity: 1;
}

.css-1uf4bbi.Mui-checked {
  color: var(--main-color) !important;
}
