@import "@/shared/vars";

.ReportBug {
  display: flex;
  align-items: baseline;
  gap: 10px;

  @media (max-width: $mobile-mediaquery-width) {
    gap: 5px;
  }

  &__svg {
    position: relative;
    cursor: pointer;

    svg {
      @media (max-width: $mobile-mediaquery-width) {
        width: 13px;
        height: 11px;
      }
    }

    * {
      transition: var(--transition-duration) linear all;
    }

    &:hover {
      * {
        fill: var(--main-color);
      }
    }
  }

  &_text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 3px;
    cursor: pointer;
    transition: var(--transition-duration) linear all;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
    }

    &:hover {
      color: var(--main-color);
    }
  }

  &__sign {
    position: absolute;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.04em;
    color: var(--white-color);
    top: 4px;
    left: 16px;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
      top: 6px;
      left: 5.5px;
    }
  }
}
