@import "@/shared/vars";

.authorCard {
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  background: linear-gradient(
    271deg,
    rgba(59, 130, 246, 0.1) 0%,
    rgba(59, 130, 246, 0) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  padding-bottom: 10px;

  @media (max-width: $tablet-mediaquery-width) {
    justify-content: space-between;
    padding: 10px;
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__author {
    display: flex;
    gap: 10px;

    @media (max-width: $mobile-mediaquery-width) {
      gap: 5px;
    }

    &__svg {
      @media (max-width: $mobile-mediaquery-width) {
        width: 8px;
        height: 8px;
      }
    }

    &__img {
      border-radius: 100%;
      width: 55px;
      height: 55px;

      @media (max-width: $mobile-mediaquery-width) {
        width: 22px;
        height: 22px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;

      @media (max-width: $mobile-mediaquery-width) {
        gap: 3px;
      }
    }

    &__name {
      font-weight: 700;
      font-size: 22px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);

      @media (max-width: $mobile-mediaquery-width) {
        font-size: 11px;
      }
    }

    &__status {
      display: flex;
      gap: 3px;
      align-items: center;
      position: relative;
      bottom: 7px;

      &__span {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--black-color);
        opacity: 0.4;

        @media (max-width: $mobile-mediaquery-width) {
          font-size: 8px;
        }
      }
    }
  }

  &__CustomItemBadge {
    font-size: 12px;
    line-height: 150%;
    width: 137px;
    height: 23px;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 6px;
      height: 11px;
      width: 65px;
    }
  }

  &__individualOffer {
    font-size: 16px;
    line-height: 150%;
    height: 55px;
    margin-top: 5px;
    width: 100%;

    @media (max-width: $mobile-mediaquery-width) {
      font-size: 8px;
      height: 22px;
      margin-top: 0;
      padding: 15px;
    }
  }
}
