.LastDetailsModal {
  display: grid;
  width: 100%;
  align-items: center;
  gap: 40px;
  grid-template-columns: 0.4fr 0.6fr;

  &__caption {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__subcaption {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__img {
    border-radius: 23px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

    &Wrapper {
      width: 100%;
      height: 244px;
      position: relative;
    }

    &Views {
      position: absolute;
      bottom: 10px;
      right: 15px;

      &__svg {
        width: 21px;
        height: 14px;

        path {
          fill: #fff;
        }
      }

      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #fff;
      }
    }
  }

  &__download {
    align-self: center;

    &__text {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: -0.01em;
      align-self: center;
      color: var(--main-color);
    }
  }

  &__input {
    height: 60px;
    font-size: 18px;
    border-radius: 15px;

    &::placeholder {
      font-size: 18px;
    }
  }

  &__tagsInput {
    padding-left: 15px;
  }

  &__button {
    font-size: 24px;
    width: 45%;
    height: 68px;
    margin-top: 10px;
    border-radius: 15px;
  }
}
