.transaction_Advantage {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 60px;
  margin-top: 50px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__1 {
      padding: 30px;
      margin-top: 40px;
      height: 430px;
    }

    &__2 {
      padding: 30px;
      height: 291px;
    }

    &__3 {
      display: flex;
      flex-direction: row;
      height: 252px;
      padding: 15px;
      margin-top: 40px;
      gap: 15px;
    }
  }

  &__imgFire {
    width: 160px;
    height: 163px;
  }

  &__imgLike {
    width: 83px;
    height: 98px;
  }

  &__subcaption {
    font-size: 28px;
    line-height: 150%;
    width: 90%;

    &__block3 {
      margin-top: 30px;
      width: 70%;
    }
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
  }

  &__li {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    position: relative;
    margin-left: 15px;

    &::before {
      content: url("data:image/svg+xml,%3C!-- icon666.com - MILLIONS vector ICONS FREE --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.008 512.008' style='enable-background:new 0 0 512.008 512.008;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M502.795,60.572c-11.183-9.782-28.214-8.677-38.023,2.533L177.837,391.028L46.603,251.036 c-10.186-10.833-27.217-11.372-38.077-1.213c-10.86,10.159-11.426,27.244-1.24,38.104l151.579,161.684 c5.12,5.416,12.207,8.488,19.672,8.488h0.458c7.626-0.108,14.794-3.449,19.833-9.189L505.355,98.595 C515.137,87.385,514.005,70.381,502.795,60.572z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      display: block;
      min-width: 18px;
      min-height: 18px;
      max-width: 18px;
      max-height: 18px;
      position: absolute;
      left: -23px;
      top: 2px;
    }

    span {
      position: relative;
      right: 15px;
    }
  }
}
