@import "@/shared/vars";

.Share {
  * {
    pointer-events: none;
  }

  &__red {
    path {
      fill: var(--main-color);
      opacity: 1;
    }
  }

  &__modal {
    top: 30% !important;
    left: 30% !important;
    position: relative;

    @media (max-width: $tablet-small-mediaquery-width) {
      left: 15% !important;
    }

    @media (max-width: $mobile-mediaquery-width) {
      left: 5% !important;
    }
  }
}
