.receiveNotifications {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 30px;
  height: 220px;
  border-radius: 6px;
  margin-top: 80px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }

  &__caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__desc {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__img {
    width: 294px;
    height: 292px;
    position: relative;
    margin-right: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 15px;

    &_input {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #7d7d7d;
      height: 68px;
      border-radius: 15px;
      width: 100%;
      background: #fff;
      padding: 10px 35px;

      &::placeholder {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #7d7d7d;
      }
    }

    &_button {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #fff;
    }
  }
}
