.guarantor_Services {
  display: flex;
  padding: 40px 30px;
  width: 100%;
  height: 326px;
  margin-top: 40px;
  gap: 50px;

  &__img {
    width: 219px;
    height: 269px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__subtitle {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    width: 85%;
  }
}
