@import "@/shared/vars";

.BlogPost {
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 50px transparent;
  transition: var(--transition-duration) linear box-shadow;
  border-radius: 15px;

  &__hover {
    box-shadow: 0 0 20px var(--main-color);
  }

  &__img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 15px 15px 0 0;

    @media (max-width: $tablet-mediaquery-width) and (min-width: $mobile-mediaquery-width) {
      height: 250px;
    }
  }

  &__footer {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    width: 100%;
    padding: 10px;
  }

  &__icons {
    path {
      stroke: #292929;
    }
  }

  &__category {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    opacity: 0.4;
  }

  &__dateOfCreation {
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    opacity: 0.4;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    margin-top: 10px;
  }

  &__info {
    width: 100%;
    margin-top: 10px;
  }

  &__amount {
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    opacity: 0.4;
  }

  &__header {
    width: 100%;
  }
}
