.channel_stats {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 30px;
    width: 100%;

    &__caption {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-align: center;
        color: #000;
    }

    &__items {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: 50px;
    }
}