@import "@/shared/vars";

.projectInfo {
  display: flex;
  flex-direction: column;
  height: fit-content;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media (max-width: $mobile-mediaquery-width) {
      margin-top: 0;
    }
  }

  &__icons {
    display: flex;
    gap: 10px;
  }

  &__favouriteAmount {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.4);
    height: fit-content;
    border-radius: 5px;
    padding: 1.5px 10px;
    position: relative;
    background-image: url("data:image/svg+xml, %3Csvg width='41' height='19' viewBox='0 0 41 19' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath opacity='0.4' d='M7.7268 3.01141C7.7268 1.6244 8.8512 0.5 10.2382 0.5H36C38.4853 0.5 40.5 2.51472 40.5 5V14C40.5 16.4853 38.4853 18.5 36 18.5H10.2382C8.8512 18.5 7.7268 17.3756 7.7268 15.9886C7.7268 14.7341 7.05756 13.5749 5.97117 12.9477L0.749909 9.93301C0.41659 9.74055 0.416589 9.25945 0.74991 9.06699L5.97117 6.05234C7.05757 5.42507 7.7268 4.26588 7.7268 3.01141Z' stroke='black' /%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1px;
  }

  &__favourite {
    display: flex;
    gap: 2px;

    &__heart {
      cursor: pointer;

      path {
        transition: var(--transition-duration) linear all;
        fill: transparent;
      }

      &__active path {
        fill: var(--main-color);
      }
    }
  }

  &__report {
    margin-left: 5px;

    &:hover {
      path:nth-of-type(2) {
        fill: var(--white-color);
      }
    }
  }

  &__breadcrumbs {
    display: flex;
    margin-top: 5px;

    &__separator {
      margin: 0 7px;
    }
  }

  &__author {
    display: flex;
    gap: 15px;
    margin-top: 15px;

    &Img {
      border-radius: 100%;
      width: 58px;
      height: 58px;
      object-fit: cover;
      object-position: center center;

      &Wrapper {
        position: relative;
        width: fit-content;
        height: fit-content;

        &::after {
          display: block;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          stroke-width: 1px;
          transition: 0.3s linear all;
          position: absolute;
          bottom: 5px;
          right: 3px;
        }
      }
    }

    &OnlineImg::after {
      content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.44497' cy='7.49087' r='6.56881' fill='%2335EC17' stroke='%23F7F7F7' stroke-width='1.6422' /%3E%3C/svg%3E");
    }

    &OfflineImg::after {
      content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.44497' cy='7.49087' r='6.56881' fill='%23787878' stroke='%23F7F7F7' stroke-width='1.6422' /%3E%3C/svg%3E");
    }

    &Info {
      display: flex;
      flex-direction: column;
    }

    &Name {
      font-weight: 700;
      font-size: 22px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);
    }

    &Rating {
      display: flex;
      align-items: baseline;
      gap: 3px;
      position: relative;
      bottom: 3px;
    }

    &Star {
      width: 19px;
      height: 19px;
      position: relative;
      top: 3px;
    }

    &RatingNumber {
      font-weight: 800;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);
    }

    &ReviewsAmount {
      font-weight: 500;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--black-color);
      opacity: 0.4;
    }
  }

  &__TeleWorksInfo {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
  }

  &__TeleWorks {
    border-radius: 6px;
    width: 137px;
    height: 23px;
    font-size: 12px;

    span {
      font-size: 12px;
    }

    &__offers {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--black-color);
      opacity: 0.4;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 59% 35%;
    margin-top: 30px;
    gap: 20px;
    height: fit-content;

    @media (max-width: $tablet-mediaquery-width) {
      grid-template-columns: 100%;
      margin-top: 10px;
    }
  }

  &__continue {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;

    @media (max-width: $tablet-mediaquery-width) {
      margin: 10px 0;
      gap: 10px;
    }

    &__wrapper {
      @media (max-width: $tablet-mediaquery-width) {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        gap: 15px;
      }

      @media (max-width: $mobile-mediaquery-width) {
        grid-template-columns: 100%;
      }
    }
  }

  &__tags {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: $mobile-mediaquery-width) {
      gap: 5px;
    }
  }
}
