@import "@/shared/vars";

.footer {
  display: flex;
  background-color: var(--white-color);
  padding: 50px 370px;
  height: 400px;
  margin-top: 50px;
  justify-content: space-between;
  gap: 100px;
  padding-top: 25px !important;

  @media (max-width: $padding-first-mediaquery) {
    padding: $padding-first-mediaquery-value;
  }

  @media (max-width: $padding-second-mediaquery) {
    padding: $padding-second-mediaquery-value;
  }

  @media (max-width: $padding-third-mediaquery) {
    padding: $padding-third-mediaquery-value;
  }

  @media (max-width: $padding-fourth-mediaquery) {
    padding: $padding-fourth-mediaquery-value;
  }

  @media (max-width: $tablet-mediaquery-width) {
    gap: 50px;
  }

  @media (max-width: $mobile-mediaquery-width) {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    gap: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 30px;
    }

    span {
      color: var(--main-color);
    }
  }

  &__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $tablet-mediaquery-width) {
      font-size: 12px;
      text-align: center;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: $mobile-small-mediaquery-width) {
      align-items: center;
      gap: 5px;
    }

    &Wrapper {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      justify-content: space-between;
      width: 100%;

      @media (max-width: $mobile-small-mediaquery-width) {
        grid-template-columns: 100%;
        gap: 20px;
        align-items: center;
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-left: 20px;
    }

    &__item {
      cursor: pointer;
      transition: var(--transition-duration) linear all;
      list-style-type: circle;

      a {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--black-color);
        transition: var(--transition-duration) linear all;

        @media (max-width: $tablet-mediaquery-width) {
          font-size: 12px;
        }
      }

      &:hover {
        color: var(--main-color);

        a {
          color: var(--main-color);
        }
      }
    }
  }
}
