.CreateOrderTechnicalInformationLoadedFile {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  width: 100%;
  height: fit-content;
  border-top: 1px solid var(--secondary-color);

  &__info {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 90%;

    &Wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__img {
    height: 99px;
    border: 1px solid #eaf2ff;
    border-radius: 15px;
    width: 25%;
    object-fit: cover;
    object-position: center center;
  }

  &__size {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000;
    opacity: 0.4;
  }

  &__buttons {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    width: 10%;
    gap: 10px;
  }

  &__change,
  &__delete {
    cursor: pointer;
    transition: var(--transition-duration) linear all;

    &:hover {
      transform: scale(1.1);
    }
  }
}
