.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  &__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 40px;
    background-color: #f55;
    height: 65px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.04em;
    color: #fff;
    width: 286px;
    cursor: pointer;
  }
}
