@import "@/shared/vars";

.stats__item {
  display: flex;
  width: 100%;
  padding: 15px 30px;
  padding-right: 0;
  flex-direction: column;
  min-height: 280px;
  padding-bottom: 0;
  overflow: hidden;

  &__small {
    padding: 15px 20px;
    min-height: 250px;

    @media (max-width: $mobile-mediaquery-width) {
      min-height: 81px;
      padding: 5px;
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;

    &__chart {
      height: 196px !important;
      top: 12px;
      position: relative;

      &__small {
        height: 150px !important;
        top: 26px;
        left: -40px;

        @media (max-width: $padding-third-mediaquery) {
          left: 8%;
        }

        @media (max-width: $mobile-mediaquery-width) {
          height: 80px !important;
          top: 17px;
          left: 5%;
        }

        @media (max-width: $mobile-small-mediaquery-width) {
          left: -30%;
        }
      }

      &Img {
        position: relative;
        top: 20px;
        right: 0;

        &__small {
          height: 165px;
          object-fit: cover;
          width: 20vw;
          right: 10%;

          @media (max-width: $padding-third-mediaquery) {
            right: -5%;
            width: 30vw;
          }

          @media (max-width: $mobile-mediaquery-width) {
            height: 60px !important;
            top: 10px;
            width: 30vw;
            right: -3%;
          }
        }
      }
    }

    &__caption {
      margin-bottom: 35px;
      color: var(--black-color);
      font-weight: 600;
      font-size: 46px;
      letter-spacing: -0.04em;

      &__small {
        font-family: var(--third-family);
        font-size: 32px;

        @media (max-width: $mobile-mediaquery-width) {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }

    &__dates {
      display: flex;
      flex-flow: wrap;
      flex-direction: column;
      max-height: 100px;
      gap: 10px;
      width: 100%;

      @media (max-width: $mobile-mediaquery-width) {
        max-height: 60px;
      }
    }

    &__amount {
      font-weight: 600;
      font-size: 22px;
      letter-spacing: -0.04em;
      color: var(--black-color);
      width: 70px;

      &__small {
        font-size: 15px;
        width: 50px;

        @media (max-width: $mobile-mediaquery-width) {
          font-size: 10px;
          width: 35px;
        }
      }
    }

    &__amount__subscribers {
      font-weight: 600;
      font-size: 22px;
      letter-spacing: -0.04em;
      white-space: nowrap;
      width: 70px;

      &__small {
        font-size: 15px;
        width: 50px;

        @media (max-width: $mobile-mediaquery-width) {
          font-size: 10px;
          width: 30px;
        }
      }

      &__grow {
        color: var(--inverted-color);
      }

      &__shrink {
        color: var(--main-color);
      }
    }

    &__date {
      align-items: center;
      display: flex;

      &_text {
        font-weight: 400;
        font-size: 22px;
        letter-spacing: -0.04em;
        color: var(--black-color);
        opacity: 0.4;
        white-space: nowrap;
        position: relative;

        &__small {
          font-size: 15px;
        }

        @media (max-width: $tablet-mediaquery-width) {
          font-size: 10px;
        }

        &__postfix {
          position: absolute;
          font-size: 15px;
          bottom: -3px;

          @media (max-width: $mobile-mediaquery-width) {
            font-size: 10px;
          }
        }
      }
    }

    &__graphics {
      display: flex;
      justify-content: space-between;

      &__caption {
        font-weight: 500;
        color: var(--black-color);
        opacity: 0.4;
        font-size: 19px;
        letter-spacing: -0.04em;
        padding-right: 10px;

        &__small {
          font-size: 12px;
          padding-right: 0;

          @media (max-width: $mobile-mediaquery-width) {
            font-size: 7px;
          }
        }
      }
    }
  }
}
