.createOrderCostContent {
  display: grid;
  grid-template-columns: 66% 33%;
  gap: 20px;
  margin-top: 40px;
  transition: var(--transition-duration-medium) linear all;
  max-height: 1000px;

  &__disappear {
    transform: translateX(-130%);
    max-height: 0;
    margin: 0;
    gap: 0;
  }

  &__firstCol {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__secondCol {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
