.myProjects {
  display: flex;
  flex-direction: column;
  margin-top: 70px;

  &__categories {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }

  &__category {
    width: 208px;
    height: 68px;
  }

  &__body {
    display: flex;
    gap: 25px;
    margin-top: 40px;
  }

  &__stats {
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 23.5%;
    padding: 30px;

    &__separator {
      margin-top: 30px;
      margin-bottom: 15px;
      width: 100%;
    }

    &__caption {
      font-weight: 900;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #000;
    }

    &__items {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      gap: 2px;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        width: 16px;
        height: 16px;
      }

      &__title {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      &__type {
        font-weight: 100;
        font-size: 16px;
        line-height: 200%;
        letter-spacing: -0.01em;
        color: #000;
      }

      &__amount {
        font-weight: 900;
        font-size: 16px;
        line-height: 200%;
        letter-spacing: -0.01em;
        text-align: right;
        color: #000;
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 15px;

      &__svg {
        width: 17px;
        height: 17px;
      }

      &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 200%;
        letter-spacing: -0.01em;
        color: #000;
        transition: var(--transition-duration) linear all;

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }

  &__interface {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  &__search {
    display: flex;
    height: 69px;
    width: 100%;
    border-radius: 15px;

    &_input {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #000;
      padding: 10px 25px;
      background-color: #fff;
      width: 80%;
      border-radius: 15px 0 0 15px;
      border: 1px solid #000;

      &::placeholder {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #000;
      }
    }

    &_button {
      width: 20%;
      height: 68px;
      border-radius: 0 15px 15px 0;
      font-size: 18px;
    }
  }
}
