@import "@/shared/vars";

.specialistServicesResults__item .swiper {
  padding-left: 0 !important;
  display: flex;
  align-items: center;
  height: 168px !important;
  overflow: hidden;
  border-radius: 10px;

  @media (max-width: $tablet-mediaquery-width) {
    height: 140px !important;
  }

  @media (max-width: $mobile-mediaquery-width) {
    border-radius: 4px;
    height: 100% !important;
  }

  .specialistServicesResults__item__heart {
    top: 18px;
  }
}

.specialistServicesResults__item .swiper-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.specialistServicesResults__item .swiper-slide {
  height: 100%;

  @media (max-width: $mobile-mediaquery-width) {
    display: flex;
    align-items: center;
  }
}

.specialistServicesResults__item .swiper-button-disabled {
  opacity: 0;
}
