.profile__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 50px;
  padding: 0 20px;

  &__avatar {
    height: 143px;
    width: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 5px solid var(--main-color);
    position: relative;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      border-radius: 100%;
    }

    &::before {
      content: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='35.000000pt' height='35.000000pt' viewBox='0 0 46.000000 46.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,46.000000) scale(0.100000,-0.100000)'%0Afill='%23f55' stroke='none'%3E%3Cpath d='M104 381 c-32 -14 -64 -60 -64 -93 0 -17 7 -45 16 -64 18 -37 101%0A-117 147 -140 27 -14 31 -14 77 16 127 81 173 184 112 250 -39 43 -78 48 -126%0A15 l-39 -26 -21 20 c-26 24 -72 34 -102 22z'/%3E%3C/g%3E%3C/svg%3E%0A");
      position: absolute;
      top: -12px;
      left: -10px;
    }

    &__caption {
      font-weight: 700;
      font-size: 30px;
      letter-spacing: -0.04em;
      color: #000;
    }

    &__category {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: -0.04em;
      color: #000;
      opacity: 0.4;
    }
  }

  &__channel_info {
    height: 328px;
    margin: 20px 0;
    border-radius: 25px;
    background: linear-gradient(
      271deg,
      rgb(59, 130, 246, 0.1) 0%,
      rgb(59, 130, 246, 0) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 0;
    padding-bottom: 0;

    &_text {
      font-weight: 400;
      font-size: 30px;
      letter-spacing: -0.04em;
      text-align: center;
      color: #000;
      white-space: wrap;
      width: 100%;
      margin-top: 5px;
    }

    &_line {
      width: 100%;
      object-fit: cover;
      margin-top: 20px;
      position: relative;
      right: 30px;
    }

    &__categories {
      display: flex;
      margin-top: 30px;
      gap: 70px;
    }

    &__category {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_caption {
        font-weight: 500;
        font-size: 30px;
        letter-spacing: -0.04em;
        color: #000;
      }

      &_desc {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.04em;
        color: #000;
        position: relative;
        bottom: 5px;
      }
    }
  }

  &__channel_link {
    display: flex;
    align-items: center;
    gap: 5px;

    &__text {
      font-weight: 500;
      font-size: 30px;
      letter-spacing: -0.04em;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #1480ff;
      transition: var(--transition-duration) linear all;

      &:hover {
        color: #9514ff;
      }
    }

    &__icon {
      width: 27px;
      height: 27px;
      position: relative;
      top: 3px;
    }
  }
}
