.profile__footer {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 0 20px;

  &__item {
    height: 183px;
    width: 100%;
    background: linear-gradient(
      271deg,
      rgb(59, 130, 246, 0.1) 0%,
      rgb(59, 130, 246, 0) 100%
    );
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    &__img {
      position: absolute;
      top: -20px;
    }

    &__caption {
      font-weight: 600;
      font-size: 30px;
      letter-spacing: -0.04em;
      color: #000;
      margin-top: 30px;
    }

    &__desc {
      font-weight: 400;
      font-size: 30px;
      letter-spacing: -0.04em;
      color: #000;
      position: relative;
      bottom: 5px;
    }
  }
}
