@import "@/shared/vars";

.BlogDiscussedPost {
  border-bottom: 1px solid var(--secondary-color);
  padding: 15px 0;
  width: 100%;

  @media (max-width: $tablet-small-mediaquery-width) {
    padding: 5px 0;
    border: none;
  }

  &__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);

    @media (max-width: $tablet-small-mediaquery-width) {
      font-size: 8px;
    }
  }

  &__elipse {
    position: relative;
    right: 12px;

    @media (max-width: $tablet-small-mediaquery-width) {
      right: 5px;
    }

    &__svg {
      @media (max-width: $tablet-small-mediaquery-width) {
        width: 10px;
        height: 10px;
      }
    }

    &__third {
      position: relative;
      right: 22px;

      @media (max-width: $tablet-small-mediaquery-width) {
        right: 10px;
      }
    }
  }

  &__commentsAmount {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--black-color);
    opacity: 0.4;

    @media (max-width: $tablet-small-mediaquery-width) {
      font-size: 5px;
    }
  }

  &__commentsSvg {
    width: 25px;
    height: 25px;

    @media (max-width: $tablet-small-mediaquery-width) {
      width: 10px;
      height: 10px;
    }
  }
}
