.myProjects__stats {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 77%);
  padding: 30px;
  height: fit-content;

  &__separator {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
  }

  &__caption {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #000;
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 2px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      width: 16px;
      height: 16px;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    &__type {
      font-weight: 100;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: -0.01em;
      color: #000;
    }

    &__amount {
      font-weight: 900;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: -0.01em;
      text-align: right;
      color: #000;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 15px;

    &__svg {
      width: 17px;
      height: 17px;
    }

    &__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: -0.01em;
      color: #000;
      transition: var(--transition-duration) linear all;

      &:hover {
        color: var(--main-color);
      }
    }
  }
}
