.userEditPageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    margin-top: 50px;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    background: var(--white-color);
  }

  &__buttons {
    display: flex;
    align-self: flex-end;
  }

  &__button {
    font-size: 20px;
    border-radius: 40px;
    height: 65px;
    width: 286px;
  }
}
